{% extends "survey/layout.html" %}

{% block body %}
    <h2>Добро пожаловать!</h2>
    <div class="quest">
        <div>Общие данные</div>
        <div>
            <ul>
                <li>Заполнение анкеты займет от 30 до 40 минут, но сэкономит гораздо больше времени при работе над проектом.</li>
                <li>Важно, чтобы в заполнении приняли участие все, кто будет жить в интерьере.</li>
                <li>Вы сможете изменить и дополнить свои пожелания при общении с дизайнером во время работы над проектом.</li>
                <li>Если какой-то вопрос вызвал затруднения при ответе - пропустите его или отметьте "уточнить с дизайнером".</li>
            </ul>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'personal' %}">Начать</a>
    </div>
{% endblock %}