{% extends "survey/layout.html" %}

{% block body %}
    {% if request.user.is_authenticated %}
    <div class="bd">
    <div><h3>Проектная часть</h3></div>
    <div class="quest">
        <div>"Дизайн-проект в подарок", который идет по умолчанию к договору на ремонт содержит в себе всю необходимую информацию для реализации ремонта и занимает 38 календарных дней. </div>
        <div>
            <div>Проект наполнен следующим:</div>
            <ul>
                <li>обмерный план</li>
                <li>планировочное решение</li>
                <li>схемы размещения освещения, розеток и выключателей</li>
                <li>схемы отделки пола, потолка, стен</li>
                <li>схемы расположения теплых полов, кондиционеров и другого оборудования</li>
                <li>развертки стен кухни, туалета и ванной</li>
                <li>визуализации ТОЛЬКО санузлов (визуализации всех остальных помещений выполняются за отдельную плату)</li>
                <li>ведомость чистовых материалов и сантехнического оборудования, дверей и базовых светильников</li>
                <li>1 выезд с дизайнером на подбор основных отделочных материалов</li>
                <li>чат для общения с дизайнером</li>
            </ul>
        </div>
    </div>
    <form action="{% url 'project' %}" method="post">
            {% csrf_token %}
            
            <div class="quest">
                <div>Достаточно ли вам такого наполнения проекта?</div>
                {% for  value, text in form.contents.field.choices %}
                <div class="form-check">
                    <input class="form-check-input " id="id_contents_{{ forloop.counter0 }}" name="{{ form.contents.name }}" type="radio" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                    <label class="form-check-label " for="id_contents_{{ forloop.counter0 }}">{{ text }}</label>
                </div>
                {% endfor %}
            
                <div>{{ form.content_other|safe }}</div>
            </div>
            
            <div class="quest">
                <div>Срочность выполнения проекта:</div>
                {% for  value, text in form.urgencies.field.choices %}
                <div class="form-check">
                    <input class="form-check-input " id="id_urgencies_{{ forloop.counter0 }}" name="{{ form.urgencies.name }}" type="radio" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                    <label class="form-check-label " for="id_urgencies_{{ forloop.counter0 }}">{{ text }}</label>
                </div>
                {% endfor %}
            
            
                <div>{{ form.urgencies_other|safe }}</div>
            </div>

            <div class="quest">
                <div>Способы коммуникации при работе над проектом:</div>
                {% for  value, text in form.communications.field.choices %}
                <div class="form-check">
                    <input class="form-check-input " id="id_communications_{{ forloop.counter0 }}" name="{{ form.communications.name }}" type="radio" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                    <label class="form-check-label " for="id_communications_{{ forloop.counter0 }}">{{ text }}</label>
                </div>
                {% endfor %}
            
                <div>{{ form.communications_other|safe }}</div>
            </div>

            <div class="quest">
                <div>Дополнительно (если при заполнении анкеты упустили какую-то информацию, но сейчас вспомнили, напишите ее ниже </div>
                <div>{{ form.additions|safe }}</div>
            </div>

            <div>Благодарим вас за заполнение анкеты! Пожалуйста, сообщите в чат, что анкета заполнена! Совсем скоро мы обработаем результаты и приступим к проектированию.</div>

            <input class="btn btn-primary" type="submit" value="Закончить">
        </form>

    </div>


    {% endif %}
{% endblock %}