{% extends "survey/layout.html" %}

{% block body %}
    {% if request.user.is_authenticated %}
    {% load static %}
    <div><h3>Техническая часть</h3></div>
    <div>Укажите, пожалуйста, технические особенности, которые стоит учесть в разработке проекта. Если что-то непонятно или пока неизвестно - укажите пункт "уточнить с дизайнером"</div>
    <form action="{% url 'tech' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="quest" >
                <div>User?</div>
                <div>{{ form.user }}</div>
            </div>

            <div>Отделка стен</div>
            {% for value, text in form.walls.field.choices %}
            <div class="form-check">
                <input class="form-check-input" id="id_walls_{{ forloop.counter0 }}" name="{{ form.walls.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                <label class="form-check-label" for="id_walls_{{ forloop.counter0 }}">{{ text }}</label>
            </div>
            {% endfor %}
            <div class="quest">
                <div></div>
                <div>{{ form.walls_other|safe }}</div>
            </div>

            <div>Полы</div>
            <div></div>
            {% for value, text in form.floors.field.choices %}
            <div class="form-check">
                <input class="form-check-input " id="id_floors_{{ forloop.counter0 }}" name="{{ form.floors.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                <label class="form-check-label " for="id_floors_{{ forloop.counter0 }}">{{ text }}</label>
            </div>
            {% endfor %}
            <div class="quest">
                <div></div>
                <div>{{ form.floors_other|safe }}</div>
            </div>

            <div>Двери</div>
            <div></div>
            {% for value, text in form.doors.field.choices %}
            <div class="form-check">
                <input class="form-check-input " id="id_doors_{{ forloop.counter0 }}" name="{{ form.doors.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                <label class="form-check-label " for="id_doors_{{ forloop.counter0 }}">{{ text }}</label>
            </div>
            {% endfor %}
            <div class="quest">
                <div></div>
                <div>{{ form.doors_other|safe }}</div>
            </div>

            <div>Окна</div>
            <div></div>
            {% for value, text in form.windows.field.choices %}
            <div class="form-check">
                <input class="form-check-input " id="id_windows_{{ forloop.counter0 }}" name="{{ form.windows.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                <label class="form-check-label " for="id_windows_{{ forloop.counter0 }}"><img src="{% static 'tech/' %}{{ value }}.jpg">{{ text }}</label>
            </div>
            {% endfor %}
            <div class="quest">
                <div></div>
                <div>{{ form.windows_other|safe }}</div>
            </div>
            
            <div>Потолок</div>
            <div></div>
            {% for value, text in form.ceil.field.choices %}
            <div class="form-check">
                <input class="form-check-input " id="id_ceil_{{ forloop.counter0 }}" name="{{ form.ceil.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                <label class="form-check-label " for="id_ceil_{{ forloop.counter0 }}"><img src="{% static 'tech/' %}{{ value }}.jpg">{{ text }}</label>
            </div>
            {% endfor %}
            <div class="quest">
                <div></div>
                <div>{{ form.ceil_other|safe }}</div>
            </div>

            <div>Отопление</div>
            <div></div>
            {% for value, text in form.heating.field.choices %}
            <div class="form-check">
                <input class="form-check-input " id="id_heating_{{ forloop.counter0 }}" name="{{ form.heating.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                <label class="form-check-label " for="id_heating_{{ forloop.counter0 }}"><img src="{% static 'tech/' %}{{ value }}.jpg">{{ text }}</label>
            </div>
            {% endfor %}
            <div class="quest">
                <div></div>
                <div>{{ form.heating_other|safe }}</div>
            </div>

            <div class="quest">
                <div>Установка кондиционеров (в каких помещениях)</div>
                <div>{{ form.conditioner|safe }}</div>
            </div>

            <div class="quest">
                <div>Теплый пол (в каких помещениях)</div>
                <div>{{ form.warm_floor|safe }}</div>
            </div>

            <div>Электрооборудование</div>
            <div></div>
            {% for value, text in form.electric.field.choices %}
            <div class="form-check">
                <input class="form-check-input " id="id_electric_{{ forloop.counter0 }}" name="{{ form.electric.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                <label class="form-check-label " for="id_electric_{{ forloop.counter0 }}">{{ text }}</label>
            </div>
            {% endfor %}
            <div class="quest">
                <div></div>
                <div>{{ form.electric_other|safe }}</div>
            </div>

            <div class="quest">
                <div>Дополнительные пожелания по технической части</div>
                <div>{{ form.electric_other|safe }}</div>
            </div>

            <input class="btn btn-primary" type="submit" value="Далее">
    </form>
    {% endif %}
{% endblock %}